
<div class="container">

  <% if (!isFirstPage) { %>
    <span class="prepage"><a title="previous page" class="btn btn-primary btn-md" href="?p=<%= page-1 %>">Previous  Page</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="nextpage"><a title="next page" class="btn btn-primary btn-md" href="?p=<%= page+1 %>">Next  Page</a></span>
  <% } %>

</div>
<br />
