<%- include header %>
<div class="container">
<form method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <textarea class="form-control" rows="1" cols="100" name="title"></textarea>
  </div><br />
  <div class="form-group">
    <label for="content">Content:</label>
    <textarea class="form-control" rows="20" cols="100" name="post"></textarea>
  </div><br />
  <input type="submit" class="btn btn-primary btn-md" value="Submit" />
</form>
</div>
<%- include footer %>
