<%- include header %>

  <form method='post' action='/upload' enctype='multipart/form-data' >
    <div class = "container">
    <input class="btn btn-primary btn-md" type="file" multiple name='field1'/><br>
    <input class="btn btn-primary btn-md" type="submit" />
    </div>
  </form>

<%- include footer %>
