<%- include header %>
<div class = "container">
<form class="body" method='post' action='/upload' enctype='multipart/form-data' >

  <input class="btn btn-primary btn-md" type="file" multiple name='field1'/><br>
  <input class="btn btn-primary btn-md" type="submit" />

</form>
</div>
<%- include footer %>
