@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.body{width:1200px;margin:2em auto;padding:0 2em;color: #453c49;font-size:18px;}
.f{font-size: 18px}

header{margin-top: 0px;padding:0.5em 10.5em;border-bottom:0px;font-weight:bolder;}

.home{font-size: :16px;}

.info{font-size:14px;}
.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#a8826b;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#b4eeb4;color:#fff;-webkit-transition:color .2s linear;}

.prepage a{float:left;text-decoration:none;color:#f9f9f9;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#f9f9f9;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}

.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#999999;margin-right:1.2em;}
